@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none;
  font-family: "Raleway", sans-serif;
}

.c-active {
  color: #f5bf23 !important;
}

.b-active {
  overflow: hidden;
}

.fixed {
  background-color: #fff !important;
  transition: 0.2s;
  box-shadow: 0 5px 10px 0 rgba(61, 61, 61, 0.1215686275);
}

main {
  overflow: hidden;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
  height: 100vh;
  width: 30%;
  padding: 35px 35px 35px 0;
  margin-left: auto;
  transform: translateX(200%);
  position: relative;
  z-index: 1;
}

.hamburger-menu {
  width: 36px;
  height: 28px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  transition: 0.3s;
  display: none;
  cursor: pointer;
}

.active-humb {
  transform: rotate(-45deg);
}

.c-background {
  width: 100%;
  height: 107px;
}
.c-background nav {
  background-color: transparent !important;
  height: 100%;
}
.c-background nav .c-container {
  margin: 0 96px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-background nav .c-container img {
  width: 116px;
  height: 54px;
}
.c-background nav .c-container .c-navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-background nav .c-container .c-navbar > ul li .c-link {
  width: -moz-max-content;
  width: max-content;
  font-size: 1.25rem;
  color: #000;
}
.c-background nav .c-container .c-navbar > ul li .c-link-button {
  border: 1px solid #f5bf23;
  color: #f5bf23;
  padding: 6.5px 31px;
}
.c-background header {
  height: 100%;
  position: absolute;
  top: 20%;
  right: 70px;
  display: flex;
}
.c-background header .c-header-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 45%;
  margin: 0 auto;
}
.c-background header .c-header-container .c-heading {
  color: #fff;
}
.c-background header .c-header-container h3 {
  font-size: 30px;
  font-weight: 400;
}
.c-background header .c-header-container h1 {
  margin: 45px 0;
  font-size: 50px;
}

#contact {
  width: 90%;
  margin: auto;
}
#contact .c-container {
  margin: -8% 0 10%;
  padding: 6% 4%;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#contact .c-container .c-contact-heading {
  margin-bottom: 76px;
}
#contact .c-container .c-contact-heading h2 {
  font-size: 45px;
  letter-spacing: 0.18em;
  margin: 9px 0;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 7%;
  position: relative;
}
#contact .c-container .c-contact-heading h2::before {
  content: "";
  width: 69px;
  height: 0.1vw;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #f5bf23;
}
#contact .c-container .c-contact-details .c-contact-item {
  margin-bottom: 71px;
  display: flex;
  align-items: center;
}
#contact .c-container .c-contact-details .c-contact-item .address {
  margin-left: 7%;
  color: #383838;
  font-size: 17px;
}
#contact .c-container .c-contact-details .c-contact-item .address p {
  position: relative;
}
#contact .c-container .c-contact-details .c-contact-item .address p::after {
  content: "";
  width: 30px;
  height: 1px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -45%;
  background-color: #f5bf23;
}
#contact .c-container .c-contact-details .c-contact-item .address a {
  color: #383838;
  text-decoration: none;
  transition: all 0.2s ease;
  display: inline-block;
}
#contact .c-container .c-contact-details .c-contact-item .address a:hover {
  color: #f5bf23;
  transition: all 0.2s ease;
}
#contact .c-container .c-form form .c-input-container {
  margin-bottom: 10%;
  display: flex;
  justify-content: space-between;
}
#contact .c-container .c-form form .c-input-container input,
#contact .c-container .c-form form .c-input-container textarea {
  padding: 0 1% 2%;
  color: #565656;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  border: 0;
  border-bottom: 0.1vw solid #bfbfbf;
  outline: 0;
  width: 48%;
}
#contact .c-container .c-form form .c-input-container textarea {
  width: 100%;
  display: block;
  resize: none;
}
#contact .c-container .c-form form .c-form-button {
  display: flex;
  justify-content: flex-end;
}
#contact .c-container .c-form form .c-form-button button {
  padding: 1.3% 4%;
  color: #fff;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  background-color: #f5bf23;
  border: 0;
  outline: 0;
}

footer {
  padding: 2% 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  background-color: #2b2b2b;
}
footer .c-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .c-container p {
  font-size: 25px;
  font-weight: 500;
}
footer .c-container .c-footer-sosial ul {
  width: 100%;
  display: flex;
}
footer .c-container .c-footer-sosial ul li {
  width: 64px;
  margin: 0 auto;
  padding: 17.5px;
  border-radius: 50%;
  background-color: #141414 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
footer .c-container .c-footer-sosial ul li:hover {
  background-color: #f5bf23 !important;
  transition: all 0.3s ease;
}
footer .c-container .c-footer-menu {
  display: flex;
  flex-wrap: wrap;
}
footer .c-container .c-footer-menu li {
  width: 35%;
  margin-bottom: 4%;
  margin-right: 10px;
}
footer .c-container .c-footer-menu li a {
  color: #fff;
  text-decoration: none;
}
footer .c-container .c-footer-contact a {
  padding: 8px 51px;
  color: #f5bf23;
  display: inline-block;
  font-size: 18px;
  border: 0.11vw solid #f5bf23;
  transition: all 0.4s ease;
  text-decoration: none;
}
footer .c-container .c-footer-contact a:hover {
  transition: all 0.4s ease;
  background-color: #f5bf23;
}

@media (max-width: 1440px) {
  .c-link {
    font-size: 15.36px !important;
  }
  .c-link-button {
    padding: 3.5px 20px !important;
  }
}
@media (max-width: 1024px) {
  .mobile-menu {
    display: block;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    height: 100vh;
    width: 70%;
    padding: 35px;
    margin-left: auto;
    transform: translateX(200%);
    position: relative;
    z-index: 1;
    box-shadow: 4px 9px 5px 5px #afa9a9;
  }
  .mobile-menu > ul {
    margin-top: 40px;
    padding-bottom: 400px;
    overflow-y: auto;
    height: 100vh;
  }
  .mobile-menu > ul > li a {
    padding: 10px 0;
    width: 100%;
    font-size: 24px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    color: #454749;
    display: flex;
    display: flex;
  }
  .mobile-menu .dropdown-item {
    padding: 0 5px;
    font-size: 16px;
  }
  #contact .c-container .c-contact-heading h2::before {
    left: 5px;
    width: 33px;
  }
  .c-background header {
    left: 10%;
  }
  .hamburger-menu {
    width: 36px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    transition: 0.3s;
    cursor: pointer;
  }
  .active-humb span:first-child {
    transform: rotate(-270deg) translateX(14px);
  }
  .hamburger-menu span {
    width: 100%;
    height: 2px;
    background-color: #000;
    border: 1px solid #000;
    transition: 0.3s;
  }
  .active-humb span:last-child {
    transform: rotate(-90deg) translate(12px, 0px);
  }
  .c-navbar {
    display: none;
  }
  .c-header-container {
    align-items: center !important;
    height: 70% !important;
  }
  .c-navbar-brand img {
    width: 92px !important;
    height: 43px !important;
  }
  #contact .c-contact-details .c-contact-item {
    margin-bottom: 30px !important;
  }
  #contact .c-contact-details .c-contact-item a {
    font-size: 12px !important;
  }
}
@media (max-width: 768px) {
  .mobile-menu {
    width: 40%;
  }
  .c-navbar {
    display: none;
  }
  h2::before {
    left: -32px !important;
  }
  .c-footer-sosial ul {
    padding-left: 0 !important;
  }
  .c-footer-sosial ul li {
    margin: 0 10px !important;
  }
}
@media (max-width: 425px) {
  #contact .c-container .c-contact-heading h2 {
    font-size: 25px !important;
  }
  #contact .c-container .c-contact-heading h2::before {
    content: none;
  }
  .mobile-menu {
    width: 70%;
  }
  .c-heading {
    text-align: center;
  }
  .c-footer-sosial ul {
    padding-left: 0 !important;
  }
  footer .c-container {
    width: 90%;
    margin: 0 auto !important;
  }
  .c-contact-heading h2 {
    font-size: 25px !important;
  }
  .c-contact-heading h2::before {
    width: 15% !important;
    left: -28px !important;
  }
}/*# sourceMappingURL=contact.css.map */